.main {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 0.5rem;
    padding: 20px;

}

.title {
    text-align: center;
    color: #6558d3;
    font-weight: 500;
    font-size: 30px;
    text-decoration: underline;
}

.duedate {
    text-align: end;
    color: gray;
} 

.assignment {
    width: 100%;
}

pre {
    font-weight: 300;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1rem;
    word-spacing: 1px;
    letter-spacing: 0.5px;
}

.assignment>h2 {
    font-size: 20px;
    text-transform: uppercase;
}

.submit{
    width: 100%;
    margin: auto;
}

.submit>span{
  width: 400px;
  margin: auto;
}

.btn{
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.submit>span>input{
  width: 400px;
}


  
  