<head>
  <title>Sign-Up</title>
</head>

<div class="main">
  <form class="form">
    <p class="title">Student Register</p>
    <p class="message">Signup now and get full access to our all Courses.</p>

    <label>
      <input required placeholder="" type="text" class="input" />
      <span>Fullname</span>
    </label>

    <div class="flex">
      <p-calendar
        [(ngModel)]="date"
        dateFormat="yy-mm-dd"
        class="calender"
        [showIcon]="true"
        placeholder="Date of Birth"
        [ngModelOptions]="{ standalone: true }"
      ></p-calendar>

      <!-- <div class="radio-input">
        <label>
          <input type="radio" id="value-1" name="value-radio" value="value-1" />
          <span>Male</span>
        </label>
        <label>
          <input type="radio" id="value-2" name="value-radio" value="value-2" />
          <span>Female</span>
        </label>
        <label>
          <input type="radio" id="value-3" name="value-radio" value="value-3" />
          <span>Others</span>
        </label>
        <span class="selection"></span>
      </div> -->

      
<p-selectButton [options]="paymentOptions" [(ngModel)]="value" [multiple]="false" optionLabel="name" class="opt" optionValue="value"></p-selectButton>

    </div>

    <div class="flex">
      
      <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" [style]="{'width': '220px'}"  placeholder="Department"></p-dropdown>
      <label class="phone">
        <input required placeholder="" type="number" class="input" />
        <span>Phone Number</span>
      </label>
    </div>

    <label>
      <input required placeholder="" type="email" class="input" />
      <span>Email</span>
    </label>

    <label>
      <input required placeholder="" type="password" class="input" />
      <span>Password</span>
    </label>
    <label>
      <input required placeholder="" type="password" class="input" />
      <span>Confirm password</span>
    </label>
    <button class="submit">Submit</button>
    <p class="signin">Already have an account ? <a routerLink="/sign-in">Signin</a></p>
  </form>
</div>
