<div class="announcement-container">
    <h1>Announcements</h1>
    <div class="announcement-list" *ngIf="!noAnnouncements; else Empty">
      <!-- Loop through your announcements and display them -->
      <div class="announcement-card" *ngFor="let announcement of announcements" [routerLink]="['/single-announcement',announcement.id]">
        <div class="announcement-icon">
          <!-- You can replace 'announcement-icon.png' with your icon URL -->
          <i class="pi pi-megaphone" style="font-size: 2rem"></i>
        </div>
        <div class="announcement-details">
          <h2>{{ announcement.title }}</h2>
          <p>{{ announcement.publish_date | timeAgo }}</p>
        </div>
      </div>
    </div>
  </div>
  

  <ng-template #Empty >
    <div class="empty"  >
      <div class="text">
        <ng-container *ngIf="isLogin; else noStudents">
          Your Session has Expired.
          Please <a href="/sign-in">Login</a> to View Your Announcements
        </ng-container>
        <ng-template #noStudents>
          <h1>No Announcements Available!</h1>
        </ng-template>
      </div>
    </div>
  </ng-template>