.departmentscard{
    width: 90%;
    margin: auto;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin-top: 20px;
    padding: 20px;
}

.flex{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login {
    width: 100%;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 25px;
    
  }

  .card{
    /* border: 1px solid red; */
    margin-top: 20px;
  }

  .depttitle{
    margin-top: 10px;
  }
  
  .plan {
    border-radius: 16px;
    box-shadow: 0 30px 30px -25px rgba(0, 38, 255, 0.205);
    padding: 10px;
    background-color: #fff;
    color: #697e91;
    max-width: 300px;
  }
  
  .plan strong {
    font-weight: 600;
    color: #425275;
  }
  
  .plan .inner {
    align-items: center;
    padding: 20px;
    padding-top: 40px;
    background-color: #ecf0ff;
    border-radius: 12px;
    position: relative;
  }
  
  .plan .pricing {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #bed6fb;
    border-radius: 99em 0 0 99em;
    display: flex;
    align-items: center;
    padding: 0.625em 0.75em;
    font-size: 1.25rem;
    font-weight: 600;
    color: #425475;
  }
  
  .plan .pricing small {
    color: #707a91;
    font-size: 0.75em;
    margin-left: 0.25em;
  }
  
  .plan .title {
    
    font-weight: 600;
    font-size: 1.25rem;
    color: #425675;
  }
  
  .title{
    height: 30px;
  }

  .plan .title + * {
    margin-top: 0.75rem;
  }
  
  .plan .info + * {
    margin-top: 1rem;
  }
  
  .plan .features {
    display: flex;
    flex-direction: column;
    margin-left: -10px;
  }
  
  .plan .features li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .plan .features li + * {
    margin-top: 0.75rem;
  }
  
  .plan .features .icon {
    background-color: #1FCAC5;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
  }
  
  .plan .features .icon svg {
    width: 14px;
    height: 14px;
  }
  
  .plan .features + * {
    margin-top: 1.25rem;
  }
  
  .plan .action {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }
  
  .plan .button {
    background-color: #6558d3;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 1.125rem;
    text-align: center;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0.625em 0.75em;
    text-decoration: none;
    cursor: pointer;
  }
  
  .plan .button:hover, .plan .button:focus {
    background-color: #4133B7;
  }
  /* .plan ul{
    margin-left: -10px;
  } */

  .headers{
    display: flex;
    align-items: center; 
}

