
<head>
    
    <title>Sign-In</title>
</head>
<body>
    <div class="signup-form">
        <h2>Sign In</h2>
        <form>
      
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-envelope"></i>
            </span>
            <input pInputText placeholder="Email">
          </div>
      
          <div class="p-inputgroup">
            <span class="p-inputgroup-addon">
              <i class="pi pi-lock"></i>
            </span>
            <input type="password" pInputText placeholder="Password">
          </div>
      

          <button pButton type="button" label="Sign In"></button>
        </form>
      </div>
      
</body>
