<div class="main">
  <form class="form">
    <p class="title">Student Login </p>
    <p class="message">Signin now and get full access to our app. </p>
    
            
    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="password" class="input">
        <span>Password</span>
    </label>
  
    <button class="submit">Sign In</button>
    <p class="signin">Create a account ? <a routerLink="/sign-up">Signup</a> </p>
  </form>
</div>