<header class="navbar">
  <div class="brand">EduHub</div>
  <nav class="nav-options">
    <a routerLink="/">All Courses</a>
    <a routerLink="/my-courses">Dashboard</a>
    <a routerLink="/assignments">Assignments</a>
    <a routerLink="/announcements">Announcements</a>
  </nav>

  <div class="profile" *ngIf="this.globalService.isStudentLogin; else btns">
    <!-- Your content for when isLogin is true -->
    <p-avatar
      [label]="getFirstLetter()"
      styleClass="mr-2"
      size="large"
      [style]="{ 'background-color': '#2196F3', color: '#ffffff','size':'30px' }"
      shape="circle"
    ></p-avatar>

    <p-menubar [model]="items" styleClass="custom-menubar" [style]="{'color':'white'}"></p-menubar>
  </div>

  <ng-template #btns>
    <div class="auth-buttons">
      <button class="button" routerLink="/sign-up">
        <i class="pi pi-user svg-icon" style="font-size: 1.2rem"></i>
        <span class="lable">Sign Up</span>
      </button>
      <button class="button" routerLink="/sign-in">
        <i class="pi pi-user svg-icon" style="font-size: 1.2rem"></i>
        <span class="lable">Sign In</span>
      </button>
    </div>
  </ng-template>
</header>
<!-- <router-outlet></router-outlet> -->
