.footer {
  background-color: #6558d3;
      color: #fff;
    padding: 40px 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 200px auto;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .about-us,
  .contact-us {
    flex: 1;
    padding: 0 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    line-height: 1.5;
  }
  