<footer class="footer">
  <div class="container">
    <div class="about-us">
      <h3>About Us</h3>
      <p>EduHub is an innovative education platform dedicated to providing high-quality learning experiences...</p>
    </div>
    <div class="contact-us">
      <h3>Contact Us</h3>
      <p>Email: info@eduhub.com</p>
      <p>Phone: +1234567890</p>
      <a routerLink="/instructor">Instructor Login</a>
      <a routerLink="/">Student</a>
      <div class="contact-form">
        <h3>Get in Touch</h3>
        <form>
          <div class="form-group">
            <input type="email" placeholder="Your Email" required>
          </div>
          <div class="form-group">
            <textarea rows="4" placeholder="Your Message" required></textarea>
          </div>
          <button type="submit">Send</button>
        </form>
      </div>
    </div>
  </div>
</footer>
