.main {
    width: 60%;
    margin: 30px auto;
}



.card {
    display: flex;
    width: 100%;
    align-items: center;
    border-radius: 0.6rem;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 20px;
    margin-bottom: 20px;
}

.img {
    margin-left: 15px;
    padding-right: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.12);
}

.hover_color_bubble {
    position: absolute;
    background: rgb(54 81 207 / 15%);
    width: 120rem;
    height: 100rem;
    left: 0;
    right: 0;
    z-index: -1;
    top: 16rem;
    border-radius: 50%;
    transform: rotate(-36deg);
    left: -18rem;
    transition: 0.7s;
}

.deadline {
    display: flex;
    align-items: center;
    font-weight: lighter;
    color: grey;
}

.pi-calendar {}

.deadline>span {
    margin-left: 3px;
    font-size: 1rem;
}
.detail-section{
    display: flex;
    margin-left: 12px;
    flex-direction: column;
    justify-content: center;
    width: 60%;
}